<div class="main">
	<form enctype="multipart/form-data" class="basic-grey" action="index.php?page=upload" method="post">
			<!-- "name" of input (userfile) will be the "key" in $_FILES -->
		<h2>
	        <span>Please fill all the text fields and select a file.</span>
	    </h2>

	    <div>
	    	
		    <label>
		    	<span>Pick an Image :</span>
		        <input name="userfile" type="file"/>
		    </label>
	    </div>
	    <div>
	        <label>
	        	<span>Image title :</span>
	        	<input type="text" name="image_title" />
	        </label>
	    </div>
	    <div>				    
	        <label>
	        	<span>Description :</span>
		        <textarea name="description" rows="5" cols="30"></textarea>
		    </label>
	    </div>
	    <div>
	    	<span>
	    		<input type="submit" class="button" value="Upload" name="formSubmitted" />
	    	</span>     
	    </div>
	</form>
</div>